:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --brand-color: #2196f3;
}

.list {
  list-style: none;
}

body {
  background-color: #e5e5e5;
  color: var(--main-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header {
  background-color: #ffffff;
}

.header-logo {
  color: #212121;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent {
  color: var(--brand-color);
}

.site-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--brand-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--brand-color);
}

.contaсt-form .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contaсt-form .link:hover,
.contaсt-form .link:focus {
  color: var(--brand-color);
}

/* Hero */

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--brand-color);
  box-shadow: rgba(0, 0, 0, 0.15);
  color: #ffffff;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Features */

.features-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
}

/* Services */

.services-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Our team */

.team-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-subtitle {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #ffffff;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer-address {
  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

/* portfolio page */

.button {
  background-color: #f5f4fa;
  color: var(--secondary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: var(--brand-color);
  color: #ffffff;

  cursor: pointer;
}

.works-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-text {
  font-size: 16px;
  line-height: 1.9;
}
